.footer-container {
    position: fixed; /* 고정 위치 설정 */
    bottom: 0; /* 아래쪽에 위치하도록 설정 */
    left: 0;
    width: 100%; /* 전체 너비로 설정 */
    height: 264px; /* 높이 설정 */
    background-color: black; /* 배경색 설정 */
    color: #696F7A; /* 텍스트 색상 설정 */
    padding: 20px; /* 내부 여백 설정 */
    box-sizing: border-box; /* padding 값도 요소의 크기에 포함되도록 설정 */
}
.footer-navigation {
    display: flex;
}

.footer-navigation-group {
    display: flex;
    flex-direction: column; /* 그룹을 세로로 배치 */
    align-items: center; /* 그룹을 수직으로 가운데 정렬 */
}

.footer-navigation-item {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.footer-navigation-item.team {
    font-size: 19px;
    font-weight: bold;
}
.footer-info {
    font-size: 10px;
}
.footer-icon {
    display: flex;
    justify-content: flex-end; /* 아이콘을 푸터 오른쪽으로 정렬 */
    align-items: center; /* 아이콘을 수직으로 가운데 정렬 */
}

.footer-icon > * {
    margin-left: 10px; /* 아이콘 사이의 간격을 조정 */
}