.login-container {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 50px;
    background-color: #000000;
  }
  
  .login-title {
    margin-bottom: 70px;
    text-align: center;
    color: white;
    font-size: 45px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: white;
  }
  
  input[type="text"] {
    padding: 11px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #242424;
    background-color: #f9f9f9;
  }

  input[type="password"] {
    padding: 11px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #242424;
    background-color: #f9f9f9;
  }
  
  button[type="submit"] {
    margin-top : 20px;
    padding: 13px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 10px;
    color: #666;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  


  
  .remember-me-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .toggle-switch {
    position: relative;
  }
  
  .remember-me-checkbox {
    display: none;
  }
  
  .remember-me-label {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 17px;
    background-color: #ddd;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px; /* 여백 추가 */
  }
  
  .remember-me-label:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .remember-me-checkbox:checked + .remember-me-label {
    background-color: #007bff;
  }
  
  .remember-me-checkbox:checked + .remember-me-label:before {
    transform: translateX(20px);
  }
  
  .remember-me-text {
    color: white;
    margin-bottom : 10px;
    font-size: 14px;
  }
  