.musicDetailContainer {
   /*background-color: #121212;  Dark background color */
  color: #fff; /* White text */
  padding: 20px;
  border-radius: 8px;
  min-height: calc(100vh - 100px); /* Height minus footer height */
  display: flex;
  flex-direction: column;

}

.topDetailContainer{
  width: 100%;
  display: flex; /* Set display to flex for side-by-side layout */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
  margin-top: 30px;
}

.albumArtworkContainer {
  flex: 1; /* Allocate space for the artwork container */
  display: flex;
  justify-content: center; /* Center the artwork */
}

.albumArtwork {
  max-width: 180px; /* Maximum artwork width */
  border-radius: 8px; /* Artwork rounded corners */
}

/* Container for the details to be displayed beside the album artwork */
.detailContainer {
  flex: 2; /* Allocate twice as much space for the details */
  margin-left: 5px; /* Space between artwork and details */
}

.categoryContainer, .trackTitleContainer, .restDetail {
  margin-bottom: 10px;
}

.trackTitle {
  font-size: 2em; /* Adjust size as needed */
}

.artistName, .trackName, .trackDuration, .playcount {
  font-size: 1em; /* Adjust size as needed */
  color: #fff; /* Less emphasized grey */
}

.playButton {
  width: 50px;
  height: 50px;
  background-color: #1db954; /* Green background */
  color: #fff;
  border-radius: 50%; /* Circular play button */
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  margin-left: 5%;
}

.etcThing{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}