.nav {
    position: absolute;
    top: 50px; /* 버튼 아래에 위치하도록 설정 */
    left: 0;
    width: 200px; /* 네비게이션 메뉴 너비 설정 */
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
    overflow: hidden; /* 네비게이션 메뉴가 펼쳐졌을 때 내용이 넘치는 경우를 대비하여 스크롤 생성 */
    max-height: 0; /* 초기에는 숨김 */
    transition: max-height 0.3s ease;
}

.nav.open {
    max-height: 200px; /* 네비게이션 메뉴가 열릴 때 최대 높이 설정 */
}

.nav nav {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.nav nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
}

.nav nav a:hover {
    color: #007bff; /* 호버 시 색상 변경 */
}

@media screen and (max-width: 1090px) {
    .nav {
        left: initial;
        top: initial;
        bottom: 0px;
        width: 100%;
    }
}

.nav a {
    text-decoration: none;
    color: #0008fc;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
}

.nav a:not(:last-child) {
    margin-bottom: 20px;
}