/* VolumeSlider.css */
.volume-slider {
    width: 50%;
    height: 5px; /* 높이를 조정하여 얇게 만듭니다. */
    background: white; /* 배경색을 흰색으로 설정합니다. */
    color: #81b71a;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .time-slider{
    width: 250px;
    height: 2px;
  }
 